<div class="container row d-flex animate__animated animate__backInDown p-2 mx-auto">
  <div class="nav-left col-lg-5 col-md-5 col-sm-7 col-9">
    <a class="nav-brand" routerLink="home">Amelie's Blog</a>
  </div>
  <div class="nav-right col-lg-7 col-md-7 col-sm-5 col-3 d-flex align-items-center justify-content-end ps-0 pe-0">

    <i class="fab-solid fab-list-dropdown"></i>
    <ul class="nav-right__list d-flex mb-0">
      <li class=" me-1"><a routerLink="home">Home</a> </li>

      <li class=" ms-3" *ngIf="isLogging">

        <a routerLink="new-article">
          <i class="fa-solid fa-pen-to-square"></i>
          New Article </a>
      </li>

      <li class=" me-3 ms-3" *ngIf="!isLogging">
        <a routerLink="login"> Sign In</a>
      </li>

      <li *ngIf="!isLogging">
        <a routerLink="sign-up"> Sign up </a>
      </li>

      <li *ngIf="isLogging">
        <a routerLink="settings" class="ms-3">
          <i class="fa-solid fa-gear"></i> Setting </a>
      </li>

      <li class="ms-3" *ngIf="isLogging">
        <a routerLink={{currentUser.username}} class="ms-1 d-flex align-items-center">
          <img class="profile__img" [src]="currentUser.image" alt="">
          {{currentUser.username}}
        </a>
      </li>
    </ul>
  </div>

  <!--Toggle Button-->
  <div class="myToggle col-lg-7 col-md-7 col-sm-5 col-3 text-align-end justify-content-end pe-0" ngbDropdown
    #myDrop="ngbDropdown">
    <button class="btn btn-outline-success" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Menu

    </button>
    <div class="myDropdown" ngbDropdownMenu aria-labelledby="dropdownManual">
      <li ngbDropdownItem class="" routerLink="home">
        <a>Home</a>
      </li>

      <li ngbDropdownItem routerLink="new-article">
        <a class="" *ngIf="isLogging">
          <i class="fa-solid fa-pen-to-square"></i>
          New Article </a>
      </li>

      <li ngbDropdownItem class="" *ngIf="!isLogging" routerLink="login">
        <a> Sign In</a>
      </li>

      <li ngbDropdownItem *ngIf="!isLogging" routerLink="sign-up">
        <a> Sign up </a>
      </li>

      <li ngbDropdownItem routerLink="settings">
        <a *ngIf="isLogging" class="">
          <i class="fa-solid fa-gear"></i> Setting </a>
      </li>

      <li ngbDropdownItem *ngIf="isLogging" routerLink={{currentUser.username}}>
        <a class="ms-1 d-flex align-items-center">
          <img class="profile__img" alt="">
          {{currentUser.username}}
        </a>
      </li>
    </div>
  </div>
</div>
