<div class="content-item" *ngFor="let article of myArticles | paginate: { itemsPerPage: 3, currentPage: p }">
  <div class="">
    <div class="">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between">
            <h4 class="username">
              <a>
                <img [src]="userImage" style="border-radius: 50%;">
              </a>
              <b (click)="goToProfile(article.author.username)">{{ article.author.username }}</b>
            </h4>
            <div><app-favorite  [childItem]="article"></app-favorite></div>
          </div>
          <p class="card-text text-muted" (click)="goToMyArticle(article)">
            {{ article.createdAt | date: "longDate" }}
          </p>
          <h3 class="card-text" (click)="goToMyArticle(article)">
            <b>{{ article.title }}</b>
          </h3>
          <p class="card-text" (click)="goToMyArticle(article)">{{ article.description }}</p>
          <div class="d-sm-flex justify-content-between">
            <div (click)="goToMyArticle(article)">read more...</div>
            <div class="" (click)="goToMyArticle(article)">
              <a class="tag" *ngFor="let tag of article.tagList">{{ tag }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls *ngIf="myArticles.length >5" class="paging" (pageChange)="p = $event"></pagination-controls>
