.tag{
    color: black !important;
    border: 1px solid gray;
    font-size: 0.8rem;
    padding: 3px 8px;
    white-space: nowrap;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

.tag:hover{
    color: white;
    cursor: pointer;
    background-color: lightgrey
}

.username{
    color: green;
}
