<!-- <h4 *ngIf="waitingMes">{{ waitingMes }}....</h4> -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="font-size: 20px; color: white">Loading...</p></ngx-spinner
>
<div
  class="content-item"
  *ngFor="
    let i = index;
    let item;
    of: listArticles | paginate: { itemsPerPage: 3, currentPage: p }
  "
>
  <div class="">
    <div class="">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between">
            <h4 class="username">
              <a>
                <img [src]="item.author.image" style="border-radius: 50%" />
              </a>
              <b (click)="goToProfile(item.author.username)" class="usernameitem" >{{ item.author.username }}</b>
            </h4>
            <div>
              <app-favorite
                (isFavorite)="onFavorite($event, i)"
                [childItem]="item"
              ></app-favorite>
            </div>
          </div>
          <p class="card-text text-muted cursor" [routerLink]="item.slug">
            {{ item.createdAt | date: "longDate" }}
          </p>
          <h3 class="card-text cursor" [routerLink]="item.slug">
            <b >{{ item.title }}</b>
          </h3>
          <p class="card-text cursor" [routerLink]="item.slug">{{ item.description }}</p>
          <div class="d-sm-flex justify-content-between">
            <div [routerLink]="item.slug" class="usernameitem">Read more...</div>
            <div class=""[routerLink]="item.slug">
              <a class="tag " *ngFor="let tag of item.tagList">{{ tag }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination-controls
  *ngIf="listArticles.length > 0"
  class="paging"
  (pageChange)="p = $event"
></pagination-controls>
