<footer class="footer">
  <div
    class=" animate__animated animate__backInUp footer-content d-flex align-items-center justify-content-center flex-column text-align-center mb-0">
    <h3 class="mb-0"> Amelie's blog 2022</h3>
    <ul class="socials pl-0 ">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
</footer>