/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: myFont;
  src: url(../src/assets/SteinfeldDEMO.ttf);
}
html body {
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  font-family: myFont !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
  --text-color: white;
  --text-color2: black;
  --background-color: rgb(204, 137, 203);
  --main-color: rgb(199, 255, 211);
  --second-color: rgb(9, 206, 52);
}
@keyframes mymove {
  0% {
    background-color: rgb(199, 255, 211);
  }
  25% {
    background-color: rgb(209, 243, 210);
  }
  50% {
    background-color: rgb(210, 255, 223);
  }
  100% {
    background-color: rgb(199, 255, 211);
  }
}
h1,
h4 p {
  caret-color: transparent;
  cursor: pointer;
}

.container-fluid {
  min-height: 80vh;
}
.header {
  height: 20vh;
  animation: mymove 2s infinite;
  text-align: center;
  caret-color: transparent;
}
.header-brand {
  font-size: 3em !important;
  font-weight: 600;
  font-family: myFont !important;
}
.nav {
  margin: 0 auto;
}
.nav-brand {
  color: rgb(131, 208, 148) !important;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  caret-color: transparent;
}
.nav-brand:hover {
  color: rgb(180, 225, 190);
  cursor: pointer;
}
.nav-right__list {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: var(--text-color2);
}
ul li a:hover {
  cursor: pointer;
  color: var(--second-color);
  transform: scale(1.1);
  animation: mymove 1s;
  border-radius: 10px;
}
ul li:hover {
  cursor: pointer;
  color: var(--second-color);
  transform: scale(1.1);
  animation: mymove 1s;
  border-radius: 10px;
}
footer {
  color: var(--main-color);
  animation: mymove 2s infinite;
  width: 100vw;
}
h3 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--text-color2);
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: var(--text-color2);
  padding: 4px;
}

.socials a i {
  font-size: 1.2rem;
  width: 20px;
  transition: color 0.4s ease;
  text-decoration: none;
}

.socials a:hover i {
  color: rgb(189, 189, 189);
  transform: scale(1.5);
  text-decoration: none;
}
.btn-success {
  background-color: rgb(130, 228, 182) !important;
  border: none;
}
.btn-success:hover {
  background-color: rgb(186, 252, 186) !important;
  color: var(--text-color2) !important;
}
.disabled {
  background-color: #ccc !important;
}
span a:hover {
  color: grey !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
img {
  border: 3px solid rgb(186, 252, 186);
  width: 30px;
  border-radius: 50%;
  height: 30px;
  margin-right: 5px;
}
li {
  display: flex;
  align-items: center;
}
.hide {
  display: none;
}
.myToggle {
  display: none !important;
}

@media screen and (max-width: 1068px) {
  .nav {
    justify-content: center;
  }
  .nav-right {
    display: none !important;
  }
  .myToggle {
    display: flex !important;
  }
  .animate__animated {
    animation-fill-mode: none !important;
  }
  .animate__backInLeft {
    -webkit-animation-name: none !important;
    animation-name: none !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .nav-brand {
    font-size: 1.6em;
  }
  h2,
  .header-brand {
    font-size: 1.5em;
  }
  .nav {
    max-width: 100%;
  }
  .nav-left {
    display: flex;
    align-items: center;
  }
  .edit-btn {
    justify-content: center !important;
  }
}
@media screen and (max-width: 768px) {
  .tablet {
    display: flex;
    flex-direction: column-reverse;
  }
  .tag,
  .tags {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  .w-xs-100 {
    width: 100% !important;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* .myDropdown {
  inset: 2px auto auto -10px !important;
} */

/*setting */

h1.setting-text {
  font-weight: 700;
}

.page {
  box-shadow: 0 0 7px var(--second-color);
  font-size: 1em;
}
/*new article*/
.new-article {
  box-shadow: 0 0 7px var(--second-color);
}
h1.header-form {
  padding: 10px 0 0 10px;
}

/* User Info */
.user-info {
  border: 1px solid #ccc;
  background-color: #ccc;
}
.user-img {
  width: 150px;
  height: 150px;
}
.profile-name {
  font-size: 1.6em !important;
}
.profile-bio {
  font-size: 1.5em !important;
}
.edit {
  text-align: center;
}
.edit-btn a {
  border: 2px solid var(--main-color);
  color: var(--text-color2);
}
.author-name a {
  font-size: 1.3em;
}
.author-tittle {
  font-size: 1.2em !important ;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

pagination-control {
}
.paging {
}
.ngx-pagination {
  margin-left: 0 !important;
  margin-bottom: 1rem !important;
  line-height: 20px !important;
  padding: 7px 15px 7px !important;
  font-size: 12px !important;
}
.ngx-pagination::before,
.ngx-pagination::after {
  content: " " !important;
  display: table !important;
}

.ngx-pagination::after {
  clear: both !important;
}

.ngx-pagination li {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  margin-right: 0.2rem !important;
  border-radius: 0 !important;
}

.ngx-pagination li {
  display: inline-block !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #0a0a0a !important;
  display: block !important;
  background-color: rgb(248, 248, 248) !important;
  color: black !important;
  border: 2px solid #81ebb4 !important;
  border-radius: 50% !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #788b8d88 !important;
  cursor: pointer !important;
}

.ngx-pagination .current {

  background: #ffffff !important;
  color: #000000 !important;
  cursor: default !important;
  border: 2px solid #81ebb4 !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

.ngx-pagination .disabled {
  background-color: #ccc !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

.ngx-pagination .disabled:hover {
  background: transparent !important;
}

.ngx-pagination a,
.ngx-pagination button {
  cursor: pointer !important;
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  font-family: FontAwesome;
  content: "\f053" !important;
  display: inline-block !important;
}
