.brand{

  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(167, 142, 142, 0.671)), url('../../../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat ;
  background-origin:padding-box;
  background-position: center;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left:20%;
}
.brand-title{
  padding: 20px 5px;
}
.brand-title >h2{
  font-size: 50px;
}

.paging .ngx-pagination .disabled{
  background-color:black !important;
}
.brand-favorite{
  background-color: green;
  border-radius: 5px;
  color: white;
  height: 30px;

}
.brand-favorite:hover{
  background-color: rgb(9, 219, 9);
}
.brand-follow{
  background-color:lightslategray;
  color: black;
  border-radius: 5px;
  height: 30px;

}
.brand-follow:hover{
  background-color: gray;
  color: black;
}
.brand-unfollow:hover{
  background-color: rgb(184, 179, 179);
  color: black;
}
.brand-unfollow{
  border-radius: 5px;
  height: 30px;

}
.brand-detail-name{
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.brand-detail-name:hover{
  cursor: pointer;
  text-decoration: underline;
}
.brand-edit{
  background-color: rgb(75, 74, 74);
  border-radius: 5px;
  color: white;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid white;

}
.brand-delete{
  border: 1px solid red;
  color: red;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;

}
.login{
  color: green;
}
.login:hover{
 text-decoration: underline;
}
.sigin{
  font-size: 20px;
}
.comment-body{
  font-size: 20px;
  border: 1px solid grey;

}
.comment-under{
  border: 1px solid grey;
  background-color: rgb(240, 240, 240);
}
.comment-body{
  padding: 20px auto !important
}
.detail-body-text{
  background-color: lightsteelblue;
  border: 1px solid lightsteelblue;


}
.detail-body-content{

  font-size: 20px;
  margin-top: 10px
}





